<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    {{! Files will be fingerprinted for cache busting }}
    {{! Access their filenames with the fingerprint variable }}
    <link rel="stylesheet" href="{{rootPath}}{{ fingerprint.[css/styles.min.css] }}">
</head>

<body>

<h3>SUBPAGE TEMPLATE</h3>

{{! Pass the metalsmith metadata content to metalsmith-rootpath }}
{{> navigation this }}

{{{ contents }}}

{{! Each file has a filename variable }}
<p>This file's filename is: {{ filename }}</p>

<script src="{{rootPath}}{{ fingerprint.[js/bin/dependencies.min.js] }}"></script>
<script src="{{rootPath}}{{ fingerprint.[js/bin/bundle.min.js] }}"></script>

</body>
</html>